<div class="container">
  <div class="col-sm-12 col-lg-12">
    <h2 class="text-center mt-5"> <%= @list.name %> Movies</h2>
    <p><%= link_to "Back to Home", lists_path, class:"btn btn-secondary rounded-pill"%></p>
  </div>
</div>

<div class="container text-center">
    <p><%= link_to "Bookmark",  new_list_bookmark_path(@list), class: "btn btn-success rounded-pill" %></p>
</div>

<div class="container">
  <div class="row justify-content-center">
    <% @list.movies.each do |movie| %>
      <div class="col-sm-12 col-lg-3">
        <div class="border p-4 text-center" style="border-radius: 20px; width: 300px; height: 100%">
          <img class="img-poster" src="<%= movie.poster_url %>">
          <h6><%= movie.title %> - <%= movie.rating %><i class="ms-2 fas fa-star" style="color: gold;"></i></h6>
          <p class="p-2" style="color: grey;"><%= movie.overview %></p>
          <div class="text-center"style="position: absolute; bottom: 0;">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
